body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

#chart-container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 600px;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    #chart-container {
        max-width: 100%;
        max-height: 400px;
    }
}

@media (max-width: 480px) {
    #chart-container {
        max-width: 100%;
        max-height: 300px;
    }
}


.next-button {
    font-size: 16px;
    padding: 10px 22px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.next-button:hover {
    background-color: #bfba23;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.next-button::after {
    content: " →";
    opacity: 0;
    transition: opacity 0.3s ease;
}

.next-button:hover::after {
    opacity: 1;
}
